<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>SecondHandCars | Project for MADE</title>

</head>

<body>
<div id="container">
		<div id="mainpic">
        </div>   
        
        <div id="menu">
        	<ul>
            	<li class="menuitem"><a href="{{ url_for('index') }}">Расчет</a></li>
                <li class="menuitem"><a href="{{ url_for('info') }}">Инфо</a></li>
                <li class="menuitem"><a href="{{ url_for('contacts') }}">Контакты</a></li>
            </ul>
        </div>
        
		<div id="content">
            <p>&nbsp;</p>
        	<h2>О приложении. </h2>
        	<p>&nbsp;</p>
            <p>&nbsp;</p>
       	  <h3>Данное приложение использует модель случайного леса для построения прогноза стоимости новых и
              подержанных автомобилей на основании данных, находящихся в свободном доступе. Для построения
              модели использовано 15 признаков. Число признаков было сокращено для осуществления возможности
              пользовательского ввода.
          </h3>
          <p>&nbsp;</p>

          <h3><a href="https://www.kaggle.com/lepchenkov/usedcarscatalog?select=cars.csv">Ссылка на данные.</a></h3>
        	<p>&nbsp;</p>
        	<p>&nbsp;</p>
            
            <div id="footer"><h3><a href="http://www.bryantsmith.com">florida web design</a></h3></div>
      </div>
   </div>
</body>
</html>
